<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Customer : View all</title>
<link rel="stylesheet" href="css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<style>
.navbar-inverse {
    background-image: linear-gradient(#04519b, #044687 60%, #033769) !important;
	border-bottom: 1px solid #022241;
	background-repeat: no-repeat;
    background-color:#033c73 !important;
	 
    }
	.navbar-inverse .navbar-brand{
	color:#fff;
	}
	.navbar-inverse .navbar-nav > li > a{
	color:#fff;
	}
</style>
</head>
<body>
<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top ">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">TMO</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/" id="home" class="brand">Home</a></li>
		<li><a href="/customer/list.html">Customers</a></li>
        <li><a href="/catalog/list.html">Catalog</a></li>
        <li><a href="/catalog/searchForm.html">Search</a></li>
      </ul>
    
    </div>
  </nav>
  </div>
  
	<h1 layout:fragment="header" style="margin-top:55px;margin-left:10px;font-family:Arial Bold Italic;">Manage Customers</h1>
	<div layout:fragment="content" class="container table-responsive">
		<table class="table table-bordered table-striped table-hover table-condensed">
			<thead class="thead-default">
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Firstname</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${customers.empty}">
					<td colspan="4">No customers</td>
				</tr>
				<tr th:each="customer : ${customers}">
					<td><a href="1.html" th:href="${customer.id+'.html'}"
						th:text="${customer.id}">1</a></td>
					<td th:text="${customer.name}">Name</td>
					<td th:text="${customer.firstname}">Firstname</td>
					<td><form th:action="${customer.id}+'.html'"
							th:method="delete">
							<input type="submit" value="Delete" class="btn btn-primary" />
						</form></td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="col-md-4">
        <a href="form.html" th:method="get">Add Customer</a>
			</div>
		</div>
	</div>	
</body>
</html>